{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>MathsClinic Tutors Blog </h1>
      <p>Mathsclinic was founded by Akinkuotu Micheal in 2019, Micheal who is a graduate with a degree in Pure and Applied
      Mathematics from the University of Ibadan loves to impact knowledge to his students. He is also known as cauchymike,
          and he is always ready to solve real world problems with mathematics. Most of his students believe he is not considerate whenever he sets questions for tests
          and exams. Mike created this blog to allow students discuss about issues related to education and
          career and also to his enable students bring up mathematics related issues..
      </p>
  </div>
{% endblock %}
